<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant IN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Restaurant IN</h1>
    </header>
    <div class="container">
        <h1>Quienes somos</h1>
        <div class="image-container">
          <img src="img/foto1.jpg" alt="Restaurante Imagen 1" class="restaurant-image">
          <img src="img/foto2.png" alt="Restaurante Imagen 2" class="restaurant-image">
        </div>
        <p>Somos la mejor opcion para que tu cena sea estupenda.</p>

        <div class="container">
            <button type="button" class="btn btn-primary btn-login" id="btn-login">Iniciar sesión</button>
            <h1 class="mt-5">Algo sobre nuestros Platillos</h1>
            <div id="login-container" class="row mt-4 justify-content-center"></div>
        </div>

        <div class="container">
            <button type="button" class="btn btn-primary btn-reservar" id="btn-reservar">Reservar ahora</button>
            <h1 class="mt-5"></h1>
            <div id="reservar-container" class="row mt-4 justify-content-center"></div>
        </div>

        <div class="container">
            <button type="button" class="btn btn-primary btn-menu" id="btn-menu">Menú</button>
            <h1 class="mt-5"></h1>
            <div id="menu-container" class="row mt-4 justify-content-center"></div>
        </div>
    <script src="script.js"></script>
    </div>
</body>
</html>
